# The testing matrix considers ruby/puppet versions supported by SIMP and PE:
# ------------------------------------------------------------------------------
#  release    pup   ruby      eol
# PE 2017.2   4.10  2.1.9  2018-02-21
# PE 2017.3   5.3   2.4.1  2018-07
# PE 2018.1   ???   ?????  ????-??  (LTS)
---
language: ruby
cache: bundler
sudo: false

bundler_args: --without development system_tests --path .vendor

notifications:
  email: false

addons:
  apt:
    packages:
      - rpm

before_install:
  - rm -f Gemfile.lock

jobs:
  include:
    - stage: check
      rvm: 2.4.4
      env: STRICT_VARIABLES=yes TRUSTED_NODE_DATA=yes PUPPET_VERSION="~> 5"
      script:
        - bundle exec rake check:dot_underscore
        - bundle exec rake check:test_file
        - bundle exec rake pkg:check_version
        - bundle exec rake metadata_lint
        - bundle exec rake pkg:compare_latest_tag
        - bundle exec rake pkg:create_tag_changelog
        - bundle exec rake lint
        - bundle exec puppet module build

    - stage: spec
      rvm: 2.4.4
      env: STRICT_VARIABLES=yes TRUSTED_NODE_DATA=yes PUPPET_VERSION="~> 5.0"
      script:
        - bundle exec rake spec

    - stage: spec
      rvm: 2.1.9
      env: STRICT_VARIABLES=yes TRUSTED_NODE_DATA=yes PUPPET_VERSION="~> 4.10.0"
      script:
        - bundle exec rake spec

    # This needs to be last since we have an acceptance test
    - stage: deploy
      rvm: 2.4.4
      script:
        - true
      before_deploy:
        - "export PUPMOD_METADATA_VERSION=`ruby -r json -e \"puts JSON.parse(File.read('metadata.json')).fetch('version')\"`"
        - '[[ $TRAVIS_TAG =~ ^simp-${PUPMOD_METADATA_VERSION}$|^${PUPMOD_METADATA_VERSION}$ ]]'
      deploy:
        - provider: releases
          api_key:
            secure: "L5HXAZ2V7fMr47rbVraSz1uzsicD9O0JjYEQXnjBSo4CjXkFO9RNX7Zpb/P7DfFMjT3NlgnG9meLD2fIX3aGUoCdP1RHXXWfGVk2A7I7wruVMf9WCqFnYpL0s/G2wLECxhL+c51iXpmpyQqSFpweLa2xE2b1xm8Gd4BKzlt+TxVY3bPr3ha6m1HUloZ8iUy7RNcRJKmm0nDmmeL1pAgTu1RdWy+smDKXVFQEL3KUiHvMm+UIVSeNeRYEUVAK+UrUo1Zquv0Mv8uwycaNhOSMyZXOMvfuFipq0KyZvXzOsI2g4kQ+XUB5OX38ztqT0O+tCFSO6CC7ZLm4dnWyaJaEhw81sITKhz1xOrONTCH3ehfLzFW9EBmuajGQCMYbCs7dNQlF4mSWSo9YjI2zEthuZ/VlHzEoJ7bSvoPLHqWp6/8wTrl2m1Y95fRyWeoayET/ef7ojPOMhOoIDdsal8ONXEFHxAeWQsxmQ8dtpD9Jc/g9RH2NawPjCeDwyc0KVh5rFQcKLbtjM4QQefdV/OZyofWnerFKX7hueKwtn3hhjvUoOdnJ4fpwLuSNyl4Pu2aXBIh2//2Bu/vbr1tfaPNEEhX+sfASIPPEdxIHRY1duKue7xQ/n5GtWEulVAam12ROBqYORJJ7TgX/3xVAqrNrU7dfBaqqVb+f/utFRTJdTqU="
          skip_cleanup: true
          on:
            tags: true
            condition: '($SKIP_FORGE_PUBLISH != true)'
        - provider: puppetforge
          user: simp
          password:
            secure: "Spfh3CdMXqsDKlYXBHWcihPdmGG4+sJ/gVCoZ6Z2B/C2CpHC8WzwxaniVClznwI8iHYY2mZUr1BKkBIMmo2xOdJDrQ0VSecCmV912ofEvAumvy9hUR0b39Lgj6WtvZQ0ppXVX0PXbtFiJMM6Ht8vc4A8G0fVJg89qII1M372WO0rbFKpJ+Qh9xg89Z8nWUntnaoO0gl35krGjSqjZQgUuk5NZnrkVcFt+bvV2ND4QL2HZpPuwiCPets2tTa0vBR6dU74r/o+g35uz49SvULF5l1MdveDp/lZwnDiAuJ37tKhDfMZWPXvPALpix4W3r77YiaTECoRRYNFMRBJvyfL11JfsFdk4bS6/v/raJ6I89eB06oPppDohnUgPNVwBcQu2Tm3YZttW6xC92fPysZKoM9xPzq8/YBkKJ9ac1WGTcLhD7nj0mwscns+qM4PdA/ipPuqatQ4SsjxXlLUxFZ0ScwI9VR5uZOSfxLAwzVUsiaY+g/pKljA/ssXOccfUX7v1MYiD/nbT6Blj7CDsgXJf30QFeT8K/QM65tu3Vtov+VzbJUGJ1rHYz/qNyKMWgFyX/GddcH6WE8yxzQFYdQJzGbF7Ak2QM/LQ1xpIg37kfg/t525uUeucLe5jdAVdo/qFTp3UfFMzhnD7MjdSTDXuGvkPYS3m1qavEM3ICP7eqQ="
          on:
            tags: true
            rvm: 2.4.4
            condition: '($SKIP_FORGE_PUBLISH != true)'
